.AddCommentForm {
    padding: 15px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 20px;
}

.input {
    flex-grow: 1;
    padding-right: 15px;
}
