.input {
    padding: 5px 7px;
    border-radius: 5px;
    border: none;
    width: 100%;
    color: #0d0d2b;
}

.readonly {
    .input {
        border: none;
        color: var(--primary-color);
        background-color: var(--bg-color);
    }

    .input:focus {
        border-color: red;
    }
}

.placeholder {
    display: flex;
    align-items: center;
    width: 120px;
}

.with_placeholder {
    display: flex;
}

@media (max-width: 389px) {
    .placeholder {
        width: 100px;
    }
}
