.input {
    width: 100%;
    padding: 5px 7px;
    border-radius: 5px;
    border: none;
    color: #0d0d2b;
}

.readonly {
    .input {
        width: 100%;
        border: none;
        color: var(--primary-color);
        background-color: var(--bg-color);
    }
}

.placeholder {
    display: flex;
    align-items: center;
    width: 200px;
}

.with_placeholder {
    display: flex;
    justify-content: space-between;
}
