.app.dark {
    --bg-color: #0d0d2b;
    --inverted-bg-color: rgb(32 32 82);
    --border-color: #0d0d2b;
    --primary-color: #8f8f8f;
    --secondary-color: rgb(65 105 225 / 20%);
    --inverted-primary-color: #ccc;
    --inverted-secondary-color: rgb(65 105 225 / 20%);
}
