.app_dark_theme {
    --bg-color: #0d0d2b;
    --inverted-bg-color: rgb(22 22 58);
    --border-color: #0d0d2b;
    --primary-color: #e5e5e5;
    --secondary-color: rgb(171 171 171);
    --inverted-primary-color: #ccc;
    --inverted-secondary-color: rgb(65 105 225 / 20%);

    // skeleton
    --skeleton-color: rgb(27 27 107);
    --skeleton-shadow: rgb(65 105 225 / 20%);

    // code
    --code-bg: rgb(22 22 58);
    --card-bg: rgb(22 22 58);
    --listbox-bg: rgb(22 22 58);
}
