:root {
    --bg-color: #e8e8ea;
    --inverted-bg-color: #c5c5c5;
    --border-color: #e5e5e5;
    --primary-color: #1d3460;
    --secondary-color: rgb(65 105 225 / 20%);
    --inverted-primary-color: #282828;
    --inverted-secondary-color: rgb(213 213 213);
}
