:root {
    --bg-color: #eaeaea;
    --inverted-bg-color: #dad9d9;
    --border-color: #e5e5e5;
    --primary-color: #141f48;
    --secondary-color: rgb(65 75 98);
    --inverted-primary-color: #282828;
    --inverted-secondary-color: rgb(213 213 213);
}
