.app_purple_theme {
    --bg-color: #03191b;
    --inverted-bg-color: #052524;
    --border-color: #03191b;
    --primary-color: #4dfefd;
    --secondary-color: #138685;
    --inverted-primary-color: #0f6766;
    --inverted-secondary-color: rgb(213 213 213);

    // skeleton
    --skeleton-color: #4dfefd;
    --skeleton-shadow: #062d2c;

    // code
    --code-bg: #052524;
    --card-bg: #052524;
}
