.Page {
    flex-grow: 1;
    padding: 20px 50px;
    height: calc(100vh - var(--navbar-height));
    overflow-y: auto;
    flex-shrink: 100;
    justify-content: center;
}

.trigger {
    height: 20px;
    margin: 10px;
}

@media (max-width: 487px) {
    .Page {
        padding: 20px 15px;
    }
}
