.Navbar {
    width: 100%;
    height: var(--navbar-height);
    background: var(--inverted-bg-color);
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: var(--border-color) 1px solid;
}

.links {
    margin-left: auto;
}

.mainLink {
    margin-right: 30px;
}

.appName {
    width: var(--sidebar-width);
    margin-left: 15px;
}

.actions {
    margin-left: auto;
}

.createBtn {
    min-width: 140px;
}
