.ArticleLinkBlockComponent {
    color: var(--primary-color);
}

.title {
    margin-bottom: 15px;
    text-decoration: underline var(--primary-color);
}

.paragraph {
    margin-bottom: 8px;
    max-width: 100%;
}
