.ProfileCard {
    padding: 40px;
    border: 1px solid var(--secondary-color);
    border-radius: 8px;
}

.input {
    margin-top: 10px;
    width: 400px;
}

.editing {
    border: 1px solid var(--red-light);
}
