.ProfileCard {
    padding: 20px;
    border: 1px solid var(--secondary-color);
    border-radius: 8px;
}

.header {
    display: flex;
}

.editBtn {
    margin-left: auto;
}

.data {
    margin-top: 30px;
}

.input {
    margin-top: 10px;
    width: 400px;
}
